/* Reset {{{
***********************************************************
* reset.css from Eric Meyer
* http://ericmeyerweb.com/
***********************************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/***********************************************************/
/* END Eric Meyer reset.css }}} */
/* Body {{{ */
body {
    font-family:
    "Arial",
    "Helvetica",
    "Verdana",
    "Geneva",
    sans-serif;
    font-size: 12pt;
    margin: auto;
    /*background-color: #8d8b8b;*/
}
#container{
    width: 1280px;
    margin: auto;
}
/* }}} */
/* Header {{{ */
#presentation{
    font-size: 40px;
    margin-left: 350px;
}
.presentation_text{
    margin-top: 40px;
}
#portfolio{
    font-size: 70px;
    margin-left: 200px;
}
#gray{
    float: right;
}
/* }}} */
/* Main {{{ */
#menu{
    width: 1167px;
    height: 274px;
    background-image: url('../images/circles.png');
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    margin-top: 150px;
}
.menu_text{
    display: inline-block;
    font-size: 30pt;
    margin-top: 105px;
    margin-right: 100px;
}
.menu_text a {
    text-decoration: none;
    color: #000;
}
#cv{
   margin-left: 280px;
}
#web{
    margin-left: 30px;
}
#android{
    margin-left: -18px;
}
#games{
    margin-left: -40px;
}
/**************************/
#main{
    color: #2e2929;
}
#main img {
    margin-top: 30px;
    margin-left: 20px;
}
#main li {
    margin-bottom: 10px;
    line-height: 1.5;
    margin-left: 5px;
    margin-right: 5px;
}
#main p{
    text-align: justify;
}
.to_top{
    text-decoration: none;
    color: #2e2929;
    font-size: 16pt;
    margin-left: 1070px;
}
.white{
    margin-left: -20px;
    margin-bottom: -24px;
}
.boxes{
    width: 1200px;
    background-repeat: no-repeat;
    background-position: top left;
    margin: auto;
    margin-top: 20px;
    overflow: hidden;
}
.purple_title{
    /*background-image: url("../images/purple_title.png");*/
    margin-top: 20px;
}
.green_title{
    background-image: url("../images/green_title.png");
}
.orange_title{
    background-image: url("../images/orange_title.png");
}
.blue_title{
    background-image: url("../images/blue_title.png");
}
#purple{
    /*background-color: #e9bff3;*/
    background-image: url("../images/purple_band.png");
    border: solid 4px #bf68d5;
}
.cv_title{
    background-repeat: no-repeat;
    font-size: 15pt;
}
.bold_text{
    font-weight: bold;
}
.italic_text{
    font-style: italic;
}
.cv_boxes{
    width: 500px;
    margin-left: 17px;
    margin-bottom: 20px;
    border: 3px solid #bf68d5;
    background-color: #e9bff3;
    overflow: hidden;
    /*border-radius: 25px;*/
}
.left{
    margin-left: 30px;
    width: 600px;
}
.right{
    margin-left: 660px;
    margin-top: -195px;
}
#purple_container{
    width: 1200px;
    margin-top: -60px;
    margin-bottom: 20px;
}
#academics_en{
}
#knowlegde{
}
#photo{
    margin-left: 991px;
}
#languages_en{
    margin-top: -190px;
    margin-bottom: 30px;
}
#work_exp_en{
}
.year{
    margin-right: 30px;
}
#other_data{
    margin-top: -520px;
    margin-bottom: 20px;
}
#other_data_en{
    margin-top: -495px;
    margin-bottom: 20px;
}
.app_text{
    width: 400px;
    margin-top: -220px;
    margin-left: 650px;
    margin-bottom: 60px;
}
.space_top{
    padding-top: 100px;
}
#mantra{
    margin-bottom: 110px;
}
#green{
    background-image: url("../images/green_band.png");
    border: solid 4px #bfec21;
}
#green_to_top{
    padding-bottom: 15px;
}
#visit_lluvia{
    margin-left: 780px;
    margin-top: -40px;
    margin-bottom: 20px;
}
#visit_lluvia a {
    text-decoration: none;
    color: #504f4f;
    font-size: 16pt;
}
.app_text_orange{
    margin-bottom: 160px;
}
#orange{
    background-image: url("../images/orange_band.png");
    border: solid 4px #f4a30b;
}
#blue{
    background-image: url("../images/blue_band.png");
    border: solid 4px #6fb8c1;
}
#blue img {
    margin-top: 25px;
}
#cards{
    margin-top: -360px;
    margin-bottom: 250px;
}
/* }}} */
/* Footer {{{ */
#footer{
    height: 120px;
    /*background-color: #000;*/
    background-image: url("../images/footerBg.png");
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fff;
    font-size: 14pt;
}
#footer_container{
    padding-top: 25px;
}
#footer p{
    margin-left: 90px;
}
/* }}} */

